@import "reset.css";

body,
html {
  height: 100%;
  width: 100%;
  background-color: white;
  margin: 0;
  font-family:  "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 800px) {
  body {
  display: block;
  }
}


